// Legacy support.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;

// Color Settings
$blue-lightest  : #DCE9F5;
$blue-lighter   : #92cfe8;
$blue-light     : #91bce3;
$blue           : #1668b3;
$blue2          : #1255a6;
$blue-dark      : #12395c;
$blue-darker    : #082744;
$orange         : #e4621c;
$pale-orange    : #efa47b;
$salmon         : #f5865f;
$salmon-dark    : desaturate(darken(#f5865f, 10), 10);
$green          : #47ba69; // overlay is 85%, lighten by 20%
$green-light    : lighten($green, 10%);
$blue-green     : #0d6b76;
$red            : #eb3717;

$purple         : #A32A58;
$purple-light   : lighten($purple, 10%);

$link-color-default     : $blue;
$link-color-hover     : $purple;

$base-gray       : #000000;
$gray-lighter    : #e7e7e7;
$gray-light      : #c9c9c9;
$gray            : lighten($base-gray, 61%);
$gray-dark       : #595959;
$gray-darker     : #2c2c2c;

$sidebar-bg      : $purple;
$sidebar-active  : $blue-green;
$text-color      : $gray-dark;

$border-gray     : $gray-light;
// Font Settings
$font-primary            : 'GT Walsheim', Helvetica, Arial, sans-serif;
$font-secondary          : Scala, Helvetica, Arial, sans-serif;

$baseFontSize            : 10;
$font-size-base          : 16px;
$large-factor            : 1.25;
$small-factor            : 0.8125;
$font-size-large         : floor($font-size-base * $large-factor);  //20px
$font-size-small         : ceil($font-size-base * $small-factor); // 13px

$font-size-h1            : ceil($font-size-base * 2.375); // 38px
$font-size-h2            : $font-size-base * 1.9375; // 31px
$font-size-h3            : ceil($font-size-base * 1.5625); // 25px
$font-size-h4            : $font-size-base * 1.3125; // ~21px
$font-size-h5            : $font-size-base*1.125;

$baseLineHeight          : 1.5;
$line-height-base        : round($font-size-base * $baseLineHeight);  //26px
$line-height-small       : $font-size-base/$font-size-small; // 18/14

$line-height-h1          : $line-height-base*2/$font-size-h1;
$line-height-h2          : $line-height-base*1.5/$font-size-h2;
$line-height-h3          : $line-height-base*1.5/$font-size-h3;
$line-height-h4          : $line-height-base/$font-size-h4;
$line-height-h5          : $line-height-base/$font-size-h5;



///== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    10px;
$padding-large-horizontal:  16px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;


//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
$table-bg:                      transparent;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5;
$table-bg-active:               $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color:            #ddd;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal;

$btn-default-color:              #FFF;
$btn-default-bg:                 $blue-lightest;
$btn-default-border:             #CCC;
$btn-default-hover:				$blue;

$columns                        : 12;
$col-width                      :percentage(1/$columns);
$col-half-width                 :percentage(1/($columns*2));

// Grid Settings
$tab                    : 'screen' 680px;
$desk                   : 'screen' 980px;
$wide                   : 'screen' 1280px;
$horz-spacing-unit      : 20px;
$vert-spacing-unit      : $line-height-base;
$section-spacing        : $vert-spacing-unit*1.5;
$section-spacing        : $vert-spacing-unit*1.5;
$max-width              : 1400px;

// Susy Defaults (http://susy.readthedocs.org/en/latest/settings/)
$susy: (
  columns:            $columns,
  container:          94%,
  gutters:            1,
 // debug:              (image:show),
  global-box-sizing:  border-box
);

