/*******************************************************************************
 * baseline.layout.scss
 *
 * Styling of the "laseline" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/

@import "toolkit";
@import "compass";
@import "susy";
@import "breakpoint";
@mixin box-sizing($value) {
    -moz-box-sizing: $value;
         box-sizing: $value;
}

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";

// Susy Defaults (http://susy.readthedocs.org/en/latest/settings/)
$susy: (
  columns:            12,
  container:          100%,
  gutters:            $gutter,
 // debug:              (image:show),
  global-box-sizing:  border-box
);

.l-container {
  @include container; // Define these elements as the grid containers.
}

.l-container {
  @include clearfix;
}

.l-container > div,
.l-region--navigation > div {
  padding: 0 2%;
}

.l-header-preface-wrapper,
.l-header-middle,
header,
.l-main,
.l-hero,
.l-highlighted,
.l-main,
.l-footer-preface,
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit;
}
  .l-region--header-preface-left {
    height: 45px;
  }
.l-region--header .block:last-child,
.l-region--navigation {
  position: absolute;
  top: 56px;
  left: 2%;
}
.l-region--header .block:last-child {
  left: 30%;
}

.l-region-header-preface-right-wrapper{
  float: right;
  .l-region--header-preface-right {
    > div {
      float: left;
    }
    float: right;
    @include clearfix;
  }
}
//.l-header-preface-wrapper .l-container, .l-region--header-preface-right {overflow: visible;} //allow megamenu to display on mobile


@include breakpoint($tab) {
  .l-container,
  .l-region--navigation {
    @include container(96%); // Set max-width to 96%
  }
  .l-container > div,
  .l-region--navigation > div {
    padding: 0;
  }
 .l-region--navigation {
  top: 6px;
  left: 51%;
 }
  .l-region--header .block:last-child {
    top: 11px;
    left: 60%;
  }
  .l-region--header-preface-left  {
    height: auto;
    @include span(3);
  }
  .l-region-header-preface-right-wrapper {
    @include span(9 last);
  }
  .l-branding {
    @include span(4);
  }
  .l-region--header-wrapper {
    @include span(8 last);
    .l-region--header {
      float: right;
      > div, > nav {
        float: left
      }
    }
  }
  .paragraphs-item-2-columns {
    .l-content-left {
      @include span(6);
    }
    .l-content-right {
      @include span(6 last);
    }
    @include clearfix;
  }
  .paragraphs-item-2-columns-aside {
    .l-content-left {
      @include span(8);
    }
    .l-content-right {
      @include span(4 last);
    }
    @include clearfix;
  }
  .has-sidebar-first,
  .has-sidebar-second,
  .has-two-sidebars {
    .l-content {
     @include span(8); // Span 8 out of 12 columns.
      .paragraphs-item-2-columns{
        .l-content-left {
          @include span(4);
        }
        .l-content-right {
          @include span(4 last);
        }
      }
      .paragraphs-item-2-columns-aside{
        .l-content-left {
          @include span(5);
        }
        .l-content-right {
          @include span(3 last);
        }
      }
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span(4 at 9); // Span the last 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }
  .l-region--footer-left {
    @include span(5);
  }
  .l-region--footer-right {
    @include span(7 last);
  }
}

@include breakpoint($desk) {
  .l-container,
  .l-region--navigation{
    @include layout(16); // Make 16 column design.
  }

  .l-region--header .block:last-child, .l-region--navigation{
    position: relative;
    top: 0;
    left: 0;
  }

  .l-region--header-preface-left  {
    @include span(4);
  }
  .l-region-header-preface-right-wrapper  {
    @include span(6 last);
  }
  .l-branding {
    @include span(5); // Span 6 out of 16 columns.
  }
  .l-region--header-wrapper{
    @include span(11 last); // Span the last (omega) 10 columns of 16.
  }

  .paragraphs-item-2-columns {
    .l-content-left {
      @include span(8);
    }
    .l-content-right {
      @include span(8 last);
    }
  }
  .paragraphs-item-2-columns-aside {
    .l-content-left {
      @include span(10);
    }
    .l-content-right {
      @include span(4 last);
    }
  }
  .has-sidebar-first {
    .l-content {
      @include span(12 last); // Span the last (omega) 12 columns of 16.
      .paragraphs-item-2-columns {
        .l-content-left {
          @include span(6);
        }
        .l-content-right {
          @include span(6 last);
        }
      }
      .paragraphs-item-2-columns-aside {
        .l-content-left {
          @include span(8);
        }
        .l-content-right {
          @include span(4 last);
        }
      }
    }
    .l-region--sidebar-first {
      @include span(4); // Span 4 out of 16 columns.
    }
  }
  .has-sidebar-second {
    .l-content {
      @include span(12); // Span 12 out of 16 columns.
      .paragraphs-item-2-columns {
        .l-content-left {
          @include span(6);
        }
        .l-content-right {
          @include span(6 last);
        }
      }
      .paragraphs-item-2-columns-aside {
        .l-content-left {
          @include span(8);
        }
        .l-content-right {
          @include span(4 last);
        }
      }
    }
    .l-region--sidebar-second {
      @include span(4 last); // Span the last (omega) 4 columns of 16.
      clear: none;
    }
  }

  .has-two-sidebars {
    .l-content {
      @include span(8); // Span 8 out of 16 columns.
      @include push(4 of 16);  // Push element by adding 4 out of 16 columns of left margin.
      .paragraphs-item-2-columns {
        .l-content-left {
          @include span(4);
        }
        .l-content-right {
          @include span(4 last);
        }
      }
      .paragraphs-item-2-columns-aside {
        .l-content-left {
          @include span(5);
        }
        .l-content-right {
          @include span(3 last);
        }
      }
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span(4); // Span 4 out of 16 columns.
    }
    .l-region--sidebar-first {
      @include pull(12); // Pull element by adding 12 out of 16 columns of negative left margin.
    }
    .l-region--sidebar-second {
      @include last; // This element spans the last (omega) column.
      clear: none;
    }
  }
  .l-region--footer-left {
    @include span(7);
  }
  .l-region--footer-right {
    @include span(9 last);
  }
}

@include breakpoint($wide) {
  // .l-container,
  // .l-region--navigation{
  //   @include container(80%); // Set max-width to 80%
  // }
}
