/*******************************************************************************
 * baseline.layout.scss
 *
 * Styling of the "laseline" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "toolkit";
//@import "compass";
@import "susy";
@import "breakpoint";


// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";

// Susy Defaults (http://susy.readthedocs.org/en/latest/settings/)
$susy: (
  columns:            12,
  container:          100%,
  gutters:            $gutter,
 // debug:              (image:show),
);

.l-container,
.l-region--navigation {
  @include container; // Define these elements as the grid containers.
  padding: 0 1%;
}

.l-container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .l-container {
  height: 1%;
}
/* IE7 */
*:first-child + html .l-container {
  min-height: 1%;
}

.l-header-preface-wrapper,
.l-header-middle,
header,
.l-main,
.l-hero,
.l-highlighted,
.l-main,
.l-footer-preface,
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit;
}
.l-header-preface-wrapper .l-container {overflow: visible;}
.l-region--header-wrapper {
  .l-region--header {
    .panel-pane {
      float: left;
    }
  }
}
.l-region--header-wrapper {
    .l-region--header {
      float: right;
    }
  }

.l-region--header-preface-right {
  .panel-pane {
    float: left;
  }
  @include span(12 last);
}

@include breakpoint($tab) {
  .l-container,
  .l-region--navigation{
    @include container(98%); // Set max-width to 98%
    padding: 0;
  }
  .l-header-preface-wrapper .l-container {overflow: hidden;}

  .l-region--header-preface-left  {
    @include span(3);
  }
  .l-region-header-preface-right-wrapper {
    @include span(9 last);
    .l-region--header-preface-right {
      float: right;
    }
  }
  .l-branding {
    @include span(4);
  }
  .l-region--header-wrapper {
    @include span(8 last);

  }

  .l-region--navigation {
    margin-top: $vert-spacing-unit;
  }

  .has-sidebar-first,
  .has-sidebar-second,
  .has-two-sidebars {
    .l-content {
      @include span(8); // Span 8 out of 12 columns.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span(4 at 9); // Span the last 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }
  .l-region--footer-left {
    @include span(5);
  }
  .l-region--footer-right {
    @include span(7 last);
  }
}

@include breakpoint($desk) {
  .l-container,
  .l-region--navigation{
    @include layout(16); // Make 16 column design.
  }
  .l-region--header-preface-left  {
    @include span(4);
  }
  .l-region-header-preface-right-wrapper  {
    @include span(6 last);
  }
  .l-branding {
    @include span(4); // Span 6 out of 16 columns.
  }
  .l-region--header-wrapper{
    @include span(12 last); // Span the last (omega) 10 columns of 16.
  }

  .has-sidebar-first {
    .l-content {
      @include span(12 last); // Span the last (omega) 12 columns of 16.
    }
    .l-region--sidebar-first {
      @include span(4); // Span 4 out of 16 columns.
    }
  }
  .has-sidebar-second {
    .l-content {
      @include span(12); // Span 12 out of 16 columns.
    }
    .l-region--sidebar-second {
      @include span(4 last); // Span the last (omega) 4 columns of 16.
      clear: none;
    }
  }

  .has-two-sidebars {
    .l-content {
      @include span(8); // Span 8 out of 16 columns.
      @include push(4 of 16);  // Push element by adding 4 out of 16 columns of left margin.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span(4); // Span 4 out of 16 columns.
    }
    .l-region--sidebar-first {
      @include pull(12); // Pull element by adding 12 out of 16 columns of negative left margin.
    }
    .l-region--sidebar-second {
      @include last; // This element spans the last (omega) column.
      clear: none;
    }
  }
  .l-region--footer-left {
    @include span(7);
  }
  .l-region--footer-right {
    @include span(9 last);
  }
}


@include breakpoint($wide) {
  .l-container,
  .l-region--navigation{
    @include container(80%); // Set max-width to 80%
  }
}
