.field--type-location {
  margin-bottom: $baseLineHeight;
  .street-address {
    .additional {
      display: block;
    }
  }
}

.flt-left, .flt-left-n {
  display: block;
  float: left;
  margin: 1em 1em 1em 0;
  width: 50%;
}
.flt-right, .flt-right-n {
  display: block;
  float: left;
  margin: 1em 1em 1em 0;
  width: 50%;
}

.flt-left-n, .flt-right-n {width:30%}

.field--name-field-accordion {
    @include rem(margin-top, $vert-spacing-unit);
}

.field--type-addthis {
  @include clearfix;
  .field-item {
    float: right;
    @include rem(margin-bottom, $vert-spacing-unit);
  }
}

.field--name-field-caption {
  @extend .highlight;
}
