.field--type-addthis {
  display: none;
}
.addthis_button {
  display: inline-block;
  border: 1px solid lighten($base-gray, 69%);
  @include link-colors($gray, $link-color-hover, $link-color-hover, $gray, $gray);
  padding: 0 em(30px) 0 em(12px);
  background: #fff;
  margin-left: em(10px);
  &:before {
    content: "SHARE";
    font-size: em($font-size-small);
  }
  &:after {
    content: "\f0fe";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: $gray;
    font-size: em($font-size-base);
    padding-left: em($font-size-base/2);
    position: absolute;
    top:  em(2px);
    right: em(7px);
  }
  &:hover {
   &:after {
    content: "\f146";
   }
  }
  img {display: none};
}

#at15pf.atm-f {
 padding: em(15px);
}

@include breakpoint($tab) {
  .field--type-addthis {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    //@include rem(top, $font-size-h1);
    margin-left: em($horz-spacing-unit);
  }
}
