.sr-only {
  @extend %hide-text;
}

.btn {
  @include button;
  // ($color, $background, $border, $gradient, $hover
  @include button_style(white, $blue, false, false, $purple);
  @include button_size(floor($vert-spacing-unit/3), $horz-spacing-unit/2, $font-size-small, floor(($line-height-base * .75)/$font-size-small));
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1px;
}

.menu-list {
  ul {
    @include float-list;
    > li {
      margin-right: em($horz-spacing-unit);
      padding: em($vert-spacing-unit*.7) 0;
    }
  }
}
.list-icon {
  margin-right: em($horz-spacing-unit);
  padding: em($vert-spacing-unit*.7) 0;
  .menu-title {
    @extend %hide-text;
  }
}
.split-list ul {
  .sub-list {
    padding: 0;
    margin-left: 0;

    @include breakpoint($desk) {
      margin-left: em($horz-spacing-unit);
      float: left;
    }
  }
}

.highlight {
  font-family: $font-secondary;
  font-style: italic;
}

.rteindent1 {
  margin: 0 0 em($vert-spacing-unit) em($horz-spacing-unit);
}
[style*="float: right"],
[style*="float:right"] {
   margin: 0 0 em($vert-spacing-unit) em($horz-spacing-unit);
}
[style*="float: left"]
[style*="float:left"] {
   margin: 0 em($horz-spacing-unit) em($vert-spacing-unit) 0;
}

figure {
  margin-bottom: em($vert-spacing-unit);
  line-height: 0;
  figcaption {
    font-size: em(12px);
    padding-top: em($vert-spacing-unit/2);
    line-height: $line-height-base*.75/$font-size-small;
    color: $gray;
  }
}

.flt-left{
 float:left;
 margin: 0 em($horz-spacing-unit) em($vert-spacing-unit) 0;
}
.flt-right {
 float:right;
  margin: 0 0 em($vert-spacing-unit) em($horz-spacing-unit);
}

.flt-left,
.flt-right {
  figure,
  img {
    width: 100% !important;
    float: none !important;
    margin: 0;
  }
  p {
    .clearfix & {
      font-size: em($font-size-base);
      margin-bottom: 0;
      line-height: $line-height-base;
      color: $gray-dark;
    }
  }
  @include clearfix;
}

.flt-left p,
.flt-right p,
.item-center p,
.img-caption {
    margin-bottom: em($vert-spacing-unit/2, 13px);
    font-size: em(13px);
    line-height: $line-height-small;
    color: $gray;
}
.flt-left p,
.flt-right p,
.item-center p {
  &:first-child {
    margin-bottom: em($vert-spacing-unit/4);
  }
}

.flt-25 {
 width: 25%;
}
.flt-30 {
 width: 30%;
}
.flt-40 {
 width: 40%;
}
.flt-50 {
 width: 50%;
}
.flt-60 {
 width: 60%;
}
.flt-75 {
 width: 75%;
}
.flt-25,
.flt-30,
.flt-40,
.flt-50,
.flt-60,
.flt-70 {
  img {
    width: 100% !important;
    height: auto;
  }
}

.cke_toolgroup,
.cke_toolbar {
  .flt-right,
  .flt-left {
    float: none;
  }
  .flt-25,
  .flt-30,
  .flt-40,
  .flt-50,
  .flt-60,
  .flt-75 {
   width: 100%;
  }
}

.large {
  font-size: em(ceil($font-size-base*$large-factor));
  line-height: $line-height-base/floor($font-size-base*$large-factor);

}
h1.large, h1 .large  {
  font-size: em(floor($font-size-h1*$large-factor));
  line-height: $line-height-base*4/floor($font-size-h1*$large-factor);
}
h2.large, h2 .large   {
  font-size: em(floor($font-size-h2*$large-factor));
  line-height: $line-height-base*2.5/floor($font-size-h2*$large-factor);
  .front & {
    font-size: em($font-size-h1);
    line-height: $line-height-h1;
  }
}
h3.large, h3 .large   {
  font-size: em(floor($font-size-h3*$large-factor));
  line-height: $line-height-base*2/floor($font-size-h3*$large-factor);
}
h4.large, h4 .large   {
  font-size: em(floor($font-size-h4*$large-factor));
  line-height: $line-height-base*2/floor($font-size-h4*$large-factor);
}

.small {
  font-size: em(ceil($font-size-base*$small-factor));
  line-height:$line-height-small;
}
h1.small, h1 .small {
  font-size: em(floor($font-size-h1*$small-factor));
  line-height: $line-height-base*2.5/floor($font-size-h1*$small-factor);// $line-height*4
}
h2.small, h2 .small {
  font-size: em(floor($font-size-h2*$small-factor));
  line-height: $line-height-base*2/floor($font-size-h2*$small-factor);
}
h3.small, h3 .small {
  font-size: em(floor($font-size-h3*$small-factor));
  line-height: $line-height-base*1.5/floor($font-size-h3*$small-factor);
}
h4.small, h4 .small {
  font-size: em(floor($font-size-h4*$small-factor));
  line-height: $line-height-base/floor($font-size-h4*$small-factor);
}

@include breakpoint($desk) {
  .page-title {
    margin-right: em(110px);
  }
}
