.pane-edan-search-search-form,
.tb-megamenu {
  .edan-search-form {
    .form-type-checkbox,
    .form-item-edan-q label{
      @extend %hide-text;
    }
  } //end edan-search-form
}

.tb-megamenu {
  .edan-search-form {
    input[type="submit"] {
      @include button_style(white, $blue2);
      margin: 0;
      background: {
        image: image-url("search.svg");
        repeat: no-repeat;
        position:  4% 54%;
        size: 18%;
      }
    }
    .form-text {
      @include input-placeholder {
        color: $gray;
      }
    }

  } //end edan-search-form
} // end tb-megamenu

.pane-edan-search-search-form {
  margin: em($vert-spacing-unit) 0;
  .pane-title {
    display: none;
  }
  .edan-search-form {
    position: relative;

    input[type="text"] {
      width: 100%;
      height: 50px;
      padding-right: $vert-spacing-unit*2;
      @include border-radius(0);
      -webkit-appearance: none;
      border: 1px solid darken($gray-lighter,5);
      padding-left: em(10px);
    }

    .form-text {
      @include input-placeholder {
        color: $gray-darker;
        text-transform: uppercase;
      }
    }

    //.form-text::-webkit-input-placeholder {
    //  color: $gray-darker;
    //  text-transform: uppercase;
    //}
    //
    //.form-text:-moz-placeholder { /* Firefox 18- */
    //  color: $gray-darker;
    //  text-transform: uppercase;
    //}
    //
    //.form-text::-moz-placeholder {  /* Firefox 19+ */
    //  color: $gray-darker;
    // text-transform: uppercase;
    //}
    //
    //.form-text:-ms-input-placeholder {
    //  color: $gray-darker;
    //  text-transform: uppercase;
    //}
    input[type="submit"]  {
      @include button_style($blue, white);
      height: $vert-spacing-unit*2;
      width: $vert-spacing-unit*2;
      text-indent: -99999px;
      background: {
        image: image-url("search-blue.svg");
        repeat: no-repeat;
        position:  50%;
        size: 70%;
      }
    }
    //.form-item-edan-q {
    //  float: left;
    //  width: ;
    //}
    .form-actions {
      position: absolute;
      top:0;
      right: 1px;
      border-left: 1px solid darken($gray-lighter,5);
    }
  }

  @include breakpoint($tab) {
    .edan-search-form {
      input[type="submit"] {
        @include button_style($blue, $gray-lighter, darken($gray-lighter, 5));
      }
      .form-actions {
        border-left: none;
      }
    }
  }
  @include breakpoint($desk) {
    //@include clearfix;
    margin: em($vert-spacing-unit) 0 em($section-spacing);
    .inner {
      @include display-flex;
    }
    .pane-title {
      display: block;
      font-size: em($font-size-h3);
      line-height:   $vert-spacing-unit*1.5/$font-size-h3;
      color: $gray-darker;
      height:  em($vert-spacing-unit*1.5, $font-size-h3);
      margin: 0;
     // padding-top: em(4px);
    }
    .title-wrapper,
    .pane-content {
      @include flex(1 0);
    }
    .edan-search-form {
      input[type="submit"] {
        text-indent: 0;
        width: auto;
        background: {
          position:  10% 53%;
          size: 18%;
        }
        padding-left: 30px;
        height: em($vert-spacing-unit*1.5, $font-size-small);
      }
      input[type="text"] {
        height: em($vert-spacing-unit*1.5);
        border: none;
        padding-right: 32%;
        padding-left: em(4px);
        text-align: right;
      }
      .form-text {
        @include input-placeholder {
          color: $gray;
          text-transform: capitalize;
        }
      }
      //.form-text::-webkit-input-placeholder {
      //  color: $gray;
      //  text-transform: capitalize;
      //}
      //
      //.form-text:-moz-placeholder { /* Firefox 18- */
      //  color: $gray;
      //  text-transform: capitalize;
      //}
      //
      //.form-text::-moz-placeholder {  /* Firefox 19+ */
      //  color: $gray;
      //  text-transform: capitalize;
      //}
      //
      //.form-text:-ms-input-placeholder {
      //  color: $gray;
      //  text-transform: capitalize;
      //}
    }


    .pane-border {
      margin-top: em($vert-spacing-unit/2);
      background: lighten($gray-lighter, 1);
      padding-top: em(3px);
      width: 85%
    }
  }
} //end .pane-edan-search-search-form