.l-footer-preface {
  background: url("../images/mission-bg.jpg") center top no-repeat $gray-light;
  background-size: cover;
  text-align: center;
  padding: $vert-spacing-unit 0;
  color: $gray-darker;
  h2 {
    color: $gray-darker;
  }
  p {
    @include rem(font-size, 20px);
    line-height: 1.3;
    &:last-child {margin-bottom: 0}
  }
  .panel-pane {margin: $vert-spacing-unit 0;}
  .donate-link .btn {
        @include button;
        @include button_style(white, $blue, darken($blue, 5%));
        @include button_size(floor($vert-spacing-unit/3), $horz-spacing-unit*.75, $font-size-small, floor(($line-height-base * .75)/$font-size-small));
        text-transform: uppercase;
        @include font-smoothing;
        font-weight: bold;
        letter-spacing: .1px;
  }
} // end l-footer-preface

.l-footer .l-container {
  * {
    @include rem(font-size, 13px);
    line-height: 1.538;
  }
  ul {
    @extend %reset-list;
    .list-icon a {
      @include rem(font-size, $font-size-base);
      line-height: $baseLineHeight;
    }
  }
  #block-panels-mini-footer-left {
    background: url("../images/AAA-logo-gray.png") left top no-repeat;
    @include rem(padding-top, $line-height-base * 2);
  }
  .panel-pane {
    @include rem(margin, 0 0 $line-height-base);

  }
  h2 {
    @include rem(font-size, 16px);
    line-height: 1.25;
    margin-bottom: 0;
    color: $gray-dark;
  }

  .panel-col-first{
    .item-list ul, .menu {
      @include float-list;
     }
     .item-list li {
        width: 40%;
        @include rem(margin-left, 20px);
        &:first-child {
          margin-left: 0;
        }
     }
    .menu  {
      .list-icon {
        margin-left: 2em;
        padding: 0;
        &:first-child {
          margin-left: 0;
        }
      }
    }

    .si-terms-privacy {
      @include rem(font-size, 10px);
      line-height: 10;
    }
  } // end l-region--footer-left

  .panel-col-last{
    .menu {
      list-style: none;
      margin: 0;
      padding: 0;
      .leaf, .collapsed, .expanded {
        list-style-image: none;
        list-style-type: none;
      }
    }
    .pane-system-main-menu .list-0 {margin-left: 0};
    @include breakpoint($desk) {
      .pane-menu-menu-quick-links-menu,
      .pane-system-main-menu {
        float: left;
      }
      .pane-menu-menu-quick-links-menu{
        padding-right: $horz-spacing-unit;
      }
    }
  } // end l-region--footer-right
} // end .l-footer-wrapper .l-container
