.l-footer-preface {
  background: url("../images/mission-bg.jpg") center top no-repeat $gray-light;
  background-size: cover;
  text-align: center;
  padding: $vert-spacing-unit 0;
  color: $gray-darker;
  h2 {
    color: $gray-darker;
  }
  p {
    font-size: em(20px);
    line-height: 1.3;
    &:last-child {margin-bottom: 0}
  }
  .panel-pane {margin: $vert-spacing-unit 0;}
  .donate-link .btn {
        @include button;
        @include button_style(white, $blue, darken($blue, 5%));
        @include button_size(floor($vert-spacing-unit/3), $horz-spacing-unit*.75, $font-size-small, floor(($line-height-base * .75)/$font-size-small));
        text-transform: uppercase;
        @include font-smoothing;
        font-weight: bold;
        letter-spacing: .1px;
  }
} // end l-footer-preface

.l-footer .l-container {
  p, li {
    font-size: em(13px, 16px);
    //line-height: ;
  }
  ul {
    @extend %reset-list;
    .list-icon a {
      font-size: em($font-size-base, 13px);
      line-height: $line-height-base/13px;
    }
  }
  .menu {
    .menu {
      display: none;
    }
  }
  #block-panels-mini-footer-left {
    background: url("../images/AAA-logo-gray.png") left top no-repeat;
    padding-top: em($line-height-base*2, 13px);
  }
  .panel-pane {
    margin: 0 0 em($line-height-base);

  }
  h2 {
    font-size: em(16px,13px);
    line-height: 1.25;
    margin-bottom: 0;
    color: $gray-dark;
  }
  h2.pane-title {
    font-size: em(16px);
  }
  .panel-col-first{
    .item-list ul, .menu {
      @include float-list;
     }
     .item-list li {
        width: 40%;
        margin-left: em(20px, 13px);
        &:first-child {
          margin-left: 0;
        }
     }
    .menu  {
      .list-icon {
        margin-left: 2em;
        padding: 0;
        &:first-child {
          margin-left: 0;
        }
      }
    }

    //.si-terms-privacy {
    //  font-size: em(10px);
    //  line-height: 10;
    //}
  } // end l-region--footer-left

  .pane-constant-contact-1 {
    .pane-content {
      @include clearfix;
    }
    label {
      @extend %hide-text;
    }
    .form-text, .form-submit {
      float: left;
    }
    .form-text {
      width: 63%;
    }
    .form-text::-webkit-input-placeholder {
      color: $blue;
      text-transform: uppercase;
      font-size: em(13px);
      font-weight: 600;
    }

    .form-text:-moz-placeholder { /* Firefox 18- */
      color: $blue;
      text-transform: uppercase;
      font-size: em(13px);
      font-weight: 600;
    }

    .form-text::-moz-placeholder {  /* Firefox 19+ */
      color: $blue;
      text-transform: uppercase;
      font-size: em(13px);
      font-weight: 600;
    }

    .form-text:-ms-input-placeholder {
      color: $blue;
      text-transform: uppercase;
      font-size: em(13px);
      font-weight: 600;
    }
    .form-submit {
      margin: 0;
      margin-left: em($horz-spacing-unit);
    }

  } //end pane-constant-contact-1
  .panel-col-last{
    .menu {
      list-style: none;
      margin: 0;
      padding: 0;
      .leaf, .collapsed, .expanded {
        list-style-image: none;
        list-style-type: none;
      }
    }
    .menu-name-main-menu {
      > .menu {
        @include display-flex;
        @include flex-wrap(wrap);
        li {
          display: inline-block; /* non-flexbox browsers */
          @include flex(1 0 43%);
          margin-right: em($horz-spacing-unit, 13px);
          //min-width: 48%;
        }
      }
    }
    @include breakpoint($tab) {
      .menu > li {
        margin-bottom: em($vert-spacing-unit/4);
      }
    }
    @include breakpoint($desk) {
      .pane-menu-menu-quick-links-menu,
      .pane-system-main-menu {
        float: left;
        width: 32%;
      }
      .pane-menu-menu-quick-links-menu{
        padding-right: em($horz-spacing-unit, 13px);
      }
    }
  } // end l-region--footer-right
} // end .l-footer-wrapper .l-container
