.front {
  .l-region--main.has-sidebar-second {
    .pane-title {
      @extend h4;
    }
  }
  .l-main {
    position: relative;
    top: em(-48px);
  }
  .l-region--right,
  .l-region--main.has-sidebar-second {
    .panel-pane {
      margin-bottom: em($vert-spacing-unit);
      border: 1px solid $gray-light;
      padding: em($font-size-base) em($horz-spacing-unit);
    }
  }
  .l-region--right {
    .panel-pane {
      .pane-title {
        @extend h3;
      }
      &.red-bg {
        border-color: $red;
        color: white;
        .pane-title {
          color: white;
        }
        a {
        @include link-colors(white, white, white, white, white);
        }
        background: {
         image: image-url("heart-bg.png");
         repeat: no-repeat;
         position: bottom right;
         color: $red;
        }
        @include background-size(cover);
        .icon {
          position: relative;
          border: 1px solid white;
          @include border-opacity(white, .3);
          display: inline-block;
          margin-right: em(10px);
          padding: em(15px);
          top: em(8px);
          &:before {
            content:  "\f08a";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
        /*--adjust as necessary--*/
            color: #fff;
            @include opacity(.3);
            font-size: em(18px);
            padding-right: 0.5em;
            position: absolute;
            top: 0;
            left: 22%;
          }
        }
      }
    }
  } //end .l-region--right
   .node--promo {
    ul {
     @extend %reset-list;
     li {
      margin-bottom: em($vert-spacing-unit);
     }
    }
   } // end .node--promo
  @include breakpoint($tab) {
    .l-main {
      top: auto;
    }
  }
} //end .front
