.l-header {
  background-color: $blue;

  .menu {
    @extend %navigation-list;
    > li {
      color: #fff;
     > a {
        // link-colors($normal, $hover, $active, $visited, $focus)
        @include link-colors(#fff, $light-blue, #fff, #fff, #fff);
      }
    }
  } // end menu

  p {
    margin: 0;
    padding: $vert-spacing-unit*.5 0;
  }
  .l-header-preface-wrapper {
    background-color: $dark-blue;
    .l-region--header-preface-left {
      img {
        max-height: $vert-spacing-unit;
        width: auto;
      }
    }

    .l-region--header-preface-right {
      .pane-social-media-links {
        .icon-only {
           @include link-colors(#fff, $light-blue);
        }
        margin-right: $horz-spacing-unit * 2;
      }
      .donate-link {margin-left: $horz-spacing-unit * 2;}
      .btn {
        background-color: #134979;
        border: 1px solid #f2f2f2;
      }

    } // end l-region--header-preface-right

  } // end l-region-header-preface

  .l-region--header {
    padding-top: $vert-spacing-unit*.6;
    .menu {
      > li {
        > a {
          @include link-colors($light-blue, #fff);
          padding: 0 1em;
          border-left: 1px solid $light-blue;
          &:hover {
            border-color: #fff;
          }
        }
        &:first-child > a {
          border-left: none;
        }
      }
    }
    .icon-list {
      p {
        padding: 0;
        > a {
          @include link-colors($light-blue, #fff);
        }
      }
    }

  } // end l-region--header

.l-branding img {
    width: 100%;
    max-width: 400px;
  } // end l-branding
} // end l-header


