.l-header {
  background-color: $blue;
  a {
    // link-colors($normal, $hover, $active, $visited, $focus)
    @include link-colors($blue-lightest, #fff, #fff, $blue-lightest, $blue-lightest);
  }
  .menu {
    @include float-list;
  } // end menu

  p {
    margin: 0;
  }
  .l-header-preface-wrapper {
    background-color: $blue-dark;
    .l-region--header-preface-left {
      background-color: $blue-darker;
      @include breakpoint($tab, true) {
        background: none;
      }
      padding-top: $vert-spacing-unit*.5;
      padding-bottom: none;
      img {
        height: 30px !important;
        width: auto;
      }
    }

    .l-region--header-preface-right {
      padding-top: em($vert-spacing-unit*.5);
      padding-bottom: em($vert-spacing-unit*.5);
     // padding-bottom: $vert-spacing-unit;

      .donate-link {
        text-align:center;

        .btn {
          @include button;
          @include button_style(#1A5387, white, $blue-dark, false, #91BCE3);
          @include button_size(floor($vert-spacing-unit/3), $horz-spacing-unit/2, $font-size-small, floor(($line-height-base * .75)/$font-size-small));
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: .1px;
        }
      }
      //.search-link  {
      //  @include rem(margin, 0 10px 0 0);
      //  a {
      //  @include button;
      //  @include button_style(white, #134979, darken(#134979, 1%));
      //  @include button_size(7px, $horz-spacing-unit/2, $font-size-small, floor(($line-height-base * .75)/$font-size-small));
      //    text-transform: uppercase;
      //    font-weight: bold;
      //    letter-spacing: .1px;
      //    border-radius:0;
      //    &:hover {
      //      background: none;
      //      color: $blue-light;
      //    }
      //    .fa {
      //      font-size: em(20px)
      //    }
      //  }
      //}
    } // end l-region--header-preface-right

  } // end l-header-preface-wrapper

  .l-region--header {
    .menu {
      > li {
        > a {
          padding: 0 em($horz-spacing-unit/2);
          border-left: 1px solid $blue-lightest;
          @include font-smoothing;
          @include transition(font-weight .3s);
          &:hover {
            font-weight: bold;
          }

        }
        &:first-child > a {
          border-left: none;
        }
        .menu {
          display: none;
        }
        &.active-trail a {
          font-weight: bold;
        }
      } //end .menu > li
    }//end quick-link menu
    //.search-link  {
    //  @include rem(margin, 0 0 0 20px);
    //}
  } // end l-region--header

  .l-branding  {
    .site-name {
      margin-bottom: em($vert-spacing-unit, $font-size-h1);
      a {
        display: block;
        background: {
          image: image-url("logo.svg");
          repeat: no-repeat;
          position:  top left;
          size: contain;
        }
        padding-top: 13%;
        span {
          @extend %hide-text;
        }
      }
      @include breakpoint($desk) {
        margin-bottom: 0;
      }
      @include breakpoint($wide) {
        width: 100%;
        
      }
      // @include breakpoint(screen 1980px) {
      //   width: 90%
      // }
    }
    .site-slogan {
      color: white;
      font-size: em($font-size-h3);
      line-height: $line-height-h3;
      font-weight: 400;
      margin-bottom: em($vert-spacing-unit, $font-size-h3);
      @include breakpoint($tab) {
        @include hide-text;
      }
    }

  } // end l-branding
} // end l-header


