.l-header {
  background-color: $blue;

  .menu {
    @extend %navigation-list;
    > li {
      color: #fff;
     > a {
        // link-colors($normal, $hover, $active, $visited, $focus)
        @include link-colors(#fff, $light-blue, #fff, #fff, #fff);
      }
    }
  } // end menu

  p {
    margin: 0;
    padding: 1em 0;
    line-height: 1em;
  }
  .l-header-preface-wrapper {
    background-color: $dark-blue;
    margin-bottom: 1.13em;
    .l-region--header-preface-left {
      img {
        max-height: 1.6em;
        width: auto;
      }
    }

    .l-region--header-preface-right {
      float: right;
      @include clearfix;
      .pane-social-media-links {
        float: left;
        .links-social-media {
         > a {
            @include link-colors(white, $light-blue);
          }
        }
      }

      .btn {
        background-color: #134979;
        border: 1px solid #f2f2f2;
      }
      .block--donate-link {
        float: left;
      }
    } // end l-region--header-preface-right

  } // end l-region-header-preface

  .l-region--header {
    padding-top: .5em;
    .menu {
      float: right;
      > li {
        > a {
          font-weight: 600;
          @include link-colors($light-blue);
          padding: 0 .75em;
          @include breakpoint($desk) {
            padding: 0 1em;
          }
          border-left: 1px solid $light-blue;
        }
        &:first-child > a {
          border-left: none;
        }
        &.fa-search {
          color: $light-blue;
          padding-top: 3px;
          > a {
            @extend %screen-reader;
          }
        }
      }
    }
    .icon-list {
      float: left;
      a {color: white}
    }
  } // end l-region--header

.l-branding img {
    width: 100%;
    max-width: 400px;
  } // end l-branding
} // end l-header

