.sr-only {
  @extend %hide-text;
}

.btn {
  @include button();
}

a.btn {
  @include link-colors(white, $light-blue, white, white, white)
}

.menu-list {
  ul {
    @include float-list;
    > li {
      margin-right: $horz-spacing-unit *  2;
      padding: $vert-spacing-unit*.7 0;
    }
  }
}
.list-icon {
  margin-right: $horz-spacing-unit *  2;
  padding: $vert-spacing-unit*.7 0;
  .menu-title {
    @extend %hide-text;
  }
}
.split-list ul {
  .sub-list {
    padding: 0;
    margin-left: 0;

    @include breakpoint($desk) {
      margin-left: $horz-spacing-unit *  2;
      float: left;
    }
  }
}

.highlight {
  font-family: $scala;
  font-style: italic;
}
