.sr-only {
  @extend %screen-reader;
}

.btn {
  display: inline-block;
  padding: 0.4em 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .8px;
  @include font-size(11px);
  background-color: $blue;
  color: #fff;
}

.icon-only {
  display: inline-block; /* Fix for clickability issue in WebKit */
}

.icon-list {
  ul {
    @extend %navigation-list;
    > li {
      margin-right: $horz-spacing-unit *  1.5;
      padding: 1.1em 0;
    }
  }
}
