.ogmt-group-wrapper {
  .l-region--main-content {
    padding: em($section-spacing) 0;
  }
 .ogmt-og-content-wrapper {
  @include clearfix;
  padding-bottom: em($vert-spacing-unit/2);
  border-bottom: 3px solid $border-gray;
  margin-bottom: em($vert-spacing-unit);
 }

  .ogmt-thumbnail, .object-thumbnail {
    float: left;
    width: span(3);
    margin-right: gutter();
  }

  .object-title {
    span {
      display: block;
      color: $gray;
      font-size: 75%;
    }
  }
  .ogmt-og-menu {
    ul {
      @extend %reset-list;
      li {
        a {
          background: $gray-lighter;
          display: block;
          border: 1px solid darken($gray-lighter, 5);
          border-width: 1px 1px 0;
          padding: em(floor($vert-spacing-unit/4)) em($horz-spacing-unit/2);
          width: 100%;
          &.active,
          &:hover {
            background: $gray-light;
            border-color: darken($gray-light, 5);
          }
          &.active {
            color: $text-color;
            @include font-icon("\f077", $text-color, $font-size-base, 25px, 5px, 5px);
          }

        }
        &:last-child {
          a {
            border-bottom-width: 1px;
          }
        }
      }
    }
  } // end ogmt-og-menu
  @include breakpoint($tab) {
    .ogmt-thumbnail, .object-thumbnail {
      width: 20%;
    }

  }
  @include breakpoint($desk) {
   .ogmt-thumbnail, .object-thumbnail {
      width: 15%;
    }
    .ogmt-og-content-wrapper {
      @include clearfix;
    }
    .ogmt-og-content.has-menu {
      width: span(9);
      float: left;
    }
    .ogmt-og-menu {
      border-top: 1px solid darken($gray-lighter, 5);
      background: $gray-lighter;
      float: right;
      width: span(3);
      margin-left: gutter();
      ul li {
        display: block;
        a.active {
          padding: em(floor($vert-spacing-unit/4)) em($horz-spacing-unit/2);
          &:before {
            content: '';
          }
        }
      }
    }

  } // end breakpoint($desk)

} // end ogmt-group-wrapper
