.ogmt-group-wrapper {
  .l-region--main {
    padding: em($section-spacing) 0;
  }
 .ogmt-og-content {
  @include clearfix;
  padding-bottom: em($vert-spacing-unit/2);
  border-bottom: 3px solid $border-gray;
  margin-bottom: em($vert-spacing-unit);
 }

  .field--name-field-exhibit-date {
    margin: em($vert-spacing-unit) 0;
  }

  .parent-title {
    color: $gray;
    margin-bottom: em($vert-spacing-unit/2);
   // font-size: em($);
  }

  @include breakpoint($tab) {
    .ogmt-thumbnail, .object-thumbnail, .field--name-ogmt-feature {
      float: left;
      width: span(3);
      margin: 0 em(20px) em(10px) 0;
      img {
        width: 100%;
      }
    }
  }

} // end ogmt-group-wrapper
