.pager {
  font-size: em($font-size-small);
}
.pager__item--current {
  color: white;
  background: $blue;
}

.pager__item {
  line-height: $line-height-small;
  padding: em(5px, $font-size-small);
  margin: em($vert-spacing-unit, $font-size-small) 0;
}