
.search-block-form {
  input[type="submit"] {
    @include button_style(white, #134979, darken(#134979, 1%));
     background: {
       image: image-url("search.svg");
       repeat: no-repeat;
       position:  50%;
       size: 80%;
     }
     text-indent: -99999px;
     height: 34px;
     width: 34px;
     padding: 0;
    margin: 0;
  }
  //.l-header & {
  //  position: relative;
  //  .form-type-textfield {
  //    position: absolute;
  //    top: 40px;
  //    @include transition(height .4s ease-in);
  //  }
  //  .hidden-state {
  //    visibility: hidden;
  //    height: 0;
  //    overflow: hidden;
  //    @include opacity(0);
  //  }
  //
  //  .visible-state {
  //    visibility: visible;
  //    @include opacity(1);
  //    height: auto;
  //    overflow: visible;
  //  }
  //}

}

.l-header #block-search-form {
  position: relative;
  width: 0%;
  min-width: 34px;
  height: 0%;
  min-height: 34px;
  overflow: hidden;
 // float: right;
  overflow: hidden;
  @include transition(height .4s ease);
  //-webkit-transition: width 0.4s;
  //-moz-transition: width 0.4s;
  //transition: width 0.4s;
  .form-type-textfield {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    //height: 33px;
    margin: 0;
    display: block;
    z-index: 0;
    visibility: hidden;

    //padding-right: 35px;
//    line-height: 33px;
    @include transition(top .4s ease, visibility.4s ease);
    input {
      background: white;
    }
  }

  input[type="text"] {
    @include border-radius(0);
    -webkit-appearance: none;
  }
  .form-actions {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
   // line-height: 33px;
    cursor: pointer;
    z-index: 10;
  }
  -webkit-backface-visibility: hidden;
  &.sb-search-open,
  .no-js & {
    width: auto;
    height: 100%;
    overflow: visible;
    .form-type-textfield {
      top: 40px;
      visibility: visible;
      //@include transition(top .4s ease, visibility top .4s ease);
    }
  }

} //end .l-header #block-search-form

@include breakpoint($desk) {
  //.block--search-form {
  //  position: absolute;
  //  @include rem(top, 108px);
  //  left: $push-left;
  //}
  .l-header #block-search-form  {
    min-width: 28px;
    min-height: 28px;

    input[type="submit"] {
      @include button_style(white, $blue, $blue);
      width: 28px;
      height: 28px;
    }
    .form-actions {
      width: 28px;
      height: 28px;
    }
    .form-type-textfield {
      right: 0;
      left: auto;
      top: 34px;
    }
  }
} //end breakpoint

//@include breakpoint($wide) {
//  .block--search-form {
//    left: round($max-width*($push-left/100%));
//  }
//}