.l-region--sidebar-first,
.l-region--sidebar-second,
.l-region--left,
.l-region--right {
 .menu {
  @extend %reset-list;
 }
}

.l-region--sidebar-first,
.l-region--left {
 .menu {
  > li {
    > a {
      display: block;
      padding: em($vert-spacing-unit/2) em($horz-spacing-unit);
      background: $salmon;
      @include link-colors(white, white, white, white, white);
      border-bottom: 1px solid white;
      &:hover,
      &.active {
       background: $link-color-hover;
       text-decoration: none;
      }
      font-size: em($font-size-base);
      line-height: $line-height-base;
      font-weight: bold;
      @include font-smoothing;
     }
    }
  }
  h2, h3 {
    @extend h5;
    margin: 0;
  }
  p {
    margin: 0;
    font-size: em($font-size-small);
    line-height: $line-height-small;
    position: relative;
    .more-link {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  img {
    margin-bottom: em($vert-spacing-unit/2);
  }

 .field--name-field-page-promo,
  .views-row {
    padding: em($vert-spacing-unit) em($horz-spacing-unit);
    border: 1px solid $gray-light;
    border-width: 0 1px 1px;
  }

  .view-content {
    > h3 {
      display: none;
    }
  }
}
