.taxonomy-term-description {
 * {
  margin: 0;
  font-weight: bold;
  font-size: em($font-size-base);
  line-height: $line-height-base;
 }
 margin-bottom: em($vert-spacing-unit);
}

.page-taxonomy {
 article.noe {
  margin-bottom: em($vert-spacing-unit);
 }
}