// Global settings for all megamenu
.tb-megamenu, .tb-megamenu .nav-collapse {
  background: none;
  color: #fff;
  .nav {
    > li {
      > a,
      &.active > a {
        // Set ($normal, $hover, $active, $visited, $focus)
         @include link-colors(#fff);
          padding: .5em 1em;
          background-image: none;
          border: none;
          background: none;
          &:focus, &:hover {
            text-decoration: underline;
            background: none;
          }
      }
      &:first-child > a {
        border-left: none;
      }
      &.dropdown.active > .dropdown-toggle,
      &.dropdown.open > .dropdown-toggle,
      &.dropdown.open.active > .dropdown-toggle,
      &.dropdown.open.active > a:focus,
      &.dropdown.open.active > a:hover {
        background: none;
        color: $light-blue;
      }

      &.active > a {
        text-decoration: underline;
      }
    }
    .mega-nav .mega-group > .mega-group-title,
    .dropdown-menu .mega-nav .mega-group > .mega-group-title,
    .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
      color: $blue;
    }
  }
  .btn {
    background-image: none;
    background-color: $mid-blue;
  }
}

.l-region--navigation .tb-megamenu {
  .nav {
    li {
      > a,
        &.active > a {
          // Set ($normal, $hover, $active, $visited, $focus)
          @include link-colors($darker-grey);
          letter-spacing: .5px;
          border-left: none;
          padding: .5*$vert-spacing-unit $horz-spacing-unit .5*$vert-spacing-unit 0;
          @include breakpoint($wide) {
            padding-right: $horz-spacing-unit * 2;
          }
          &:focus, &:hover {
//              text-decoration: underline;
            background: none;
          }
          @include breakpoint($desk) {
              @include link-colors(#fff);
          }

        }

        &.dropdown.active > .dropdown-toggle,
        &.dropdown.open > .dropdown-toggle,
        &.dropdown.open.active > .dropdown-toggle,
        &.dropdown.open.active > a:focus,
        &.dropdown.open.active > a:hover {
          background: none;
          color: $darker-grey;
          @include breakpoint($desk) {
            color: #fff;
          }
        }

      .dropdown-menu {
        background-color: $lighter-grey;
        border: none;
        li {
          > a,
          &.dropdown.open > .dropdown-toggle,
          &.dropdown.open.active > .dropdown-toggle {
          @include link-colors(#1a74c1);
            border: none;
            letter-spacing: none;
          }
          &.active a {background: none;}
        }
      }
    }
  }
  .nav-collapse{
    background-color: $lighter-grey;
    @include box-shadow(rgba(black, .25) 1px 5px 5px);
    @include breakpoint($desk) {
      background: none;
      box-shadow: none;
      .dropdown-menu {
        background-color: $lighter-grey;
        @include box-shadow(rgba(black, .25) 1px 5px 5px);
      }
    }
  }
  .btn-navbar {
    color: $dark-grey;
    background-color: #f0f0f0;
    @include background-image(linear-gradient(white, $lighter-grey));
    &:hover {
      color: $darker-grey;
    }
  }
} // end .l-region--navigation .tb-megamenu
