// Global settings for all megamenu
.tb-megamenu, .tb-megamenu .nav-collapse {
  select, textarea, input[type="text"] {
    height: auto;
  }
  background: none;
  color: white;
  .nav {
    > li {
      > a,
      &.active > a {
        // Set ($normal, $hover, $active, $visited, $focus)
        @include link-colors(white, $blue-light, white, white, white);
        padding: em(ceil($vert-spacing-unit/8)) em($horz-spacing-unit/2);
        background-image: none;
        border: none;
        background: none;
        @include font-smoothing;
        letter-spacing: .5px;
        &:focus, &:hover {
          text-decoration: none;
          .menu-title {
            text-decoration: underline;
          }
          background: none;
        }
      }
      &:first-child > a {
        border-left: none;
      }
      &.dropdown.active > .dropdown-toggle,
      &.dropdown.open > .dropdown-toggle,
      &.dropdown.open.active > .dropdown-toggle,
      &.dropdown.open.active > a:focus,
      &.dropdown.open.active > a:hover {
        background: none;
        color: $blue-light;
      }

      &.active > a {
        text-decoration: none;
        .menu-title {
          text-decoration: underline;
        }

      }
    }
    .mega-nav .mega-group > .mega-group-title,
    .dropdown-menu .mega-nav .mega-group > .mega-group-title,
    .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
      color: $blue;
    }
    label {
      color: $blue;
    }
  } // end .nav
  .btn {
    @include button;
    @include button_style(white, #134979, darken(#134979, 1%));
    @include button_size(9px, $horz-spacing-unit/2, $font-size-small, floor(($line-height-base * .75)/$font-size-small));
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1px;
    border-radius:0;
    box-shadow: none;
    background-image: none;
    &:hover {
      background: none;
      color: $blue-light;
    }
    .fa {
      font-size: em($font-size-h1)
    }
    .l-header & {
      @include button_style(white, #134979, darken(#134979, 1%), false, $gray-lighter);
      @include button_size(floor($vert-spacing-unit/3), $horz-spacing-unit/2, $font-size-small, floor(($line-height-base * .75)/$font-size-small));
      padding-bottom: em(10px, $font-size-small);
      //font-weight: 400;
      &:hover,
      &.active {
        color: $blue; 
      }    
    }
  } // end btn
}

.l-region--header-preface-right .tb-megamenu {
  margin:  0 em($horz-spacing-unit/2);
   button .icon-reorder {@extend %hide-text;}
  .nav-collapse {
    //width: 300%;
    background: $blue-dark;
    .nav {
      > li {
        margin: 0;
        a {
          padding: em(5px) em($horz-spacing-unit);
          //padding-left: 0;
          font-size: em($font-size-base);
          .menu-title {
            @extend %hide-text;
          }
        }
        // &:last-child a {padding-right:0}
      }
    }
    &.expanded {
      width: 350%;
      left: -160%;
      background: $gray-lighter;
      .nav {
        > li {
          a {
            padding: em($vert-spacing-unit/2) em($horz-spacing-unit);
            @include link-colors($blue, $text-color, $text-color, $blue, $blue);
          }
        }
      }      
    }
  }
  .btn.active {
    padding-bottom: em(27px);
  } 
}

.l-region--navigation {
  .tb-megamenu {
    h2 {
      font-size: em($font-size-base);
      line-height: $line-height-base;
    }

    .nav-collapse{
      background-color: $gray-lighter;
      width: 700%;
      @include box-shadow(rgba(black, .25) 1px 5px 5px);

      .nav {
        li {
          > a,
            &.active > a {
              // Set ($normal, $hover, $active, $visited, $focus)
              @include link-colors($gray-darker);
              border-left: none;
              padding: em($vert-spacing-unit/2);

              &:focus, &:hover {
                background: none;
              }

            }

            &.dropdown.active > .dropdown-toggle,
            &.dropdown.open > .dropdown-toggle,
            &.dropdown.open.active > .dropdown-toggle,
            &.dropdown.open.active > a:focus,
            &.dropdown.open.active > a:hover {
              background: none;
              color: $gray-darker;
            }

          .dropdown-menu {
            background-color: $gray-lighter;
            border: none;
            li {
              > a,
              &.dropdown.open > .dropdown-toggle,
              &.dropdown.open.active > .dropdown-toggle {
              @include link-colors(#1a74c1);
                border: none;
                letter-spacing: none;
              }
              &.active a {background: none;}
            }
            .mega-caption {
               @include link-colors($blue);
            }
            .dropdown-menu {
              display: none;
            }
          }
          &:first-child {
            > a,
            &.active > a {
              padding-top: 0;
            }
          }
        } //end li
      }// end nav
    }// end nav-collapse
    .mega-nav .dropdown-submenu > a:after {
      border: none;
    }
    .btn, .btn:hover {
      background-image: none;
      background-color: transparent;
      border: none;
      box-shadow: none;
      .menu-title {
        @extend %hide-text;
      }
    }

    .btn-navbar [class^="icon-"],
    .btn-navbar [class^=" icon-"] {
      color: white;
      box-shadow: none;
     // background: url("../images/menu-icon.png") top left no-repeat;
      width: 30px;
      height: 20px;
      line-height: 20px;
      .menu-icon {
         &:before {
          content: "\f0c9";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          /*--adjust as necessary--*/
         // color: #000;
          padding-left: em(10px);
          font-size: em(30px);
        }
      }
    }
    .btn-navbar:hover [class^="icon-"],
    .btn-navbar:hover [class^=" icon-"] {
      background-position: 0 -20px;
    }
    .mega-caption {
      font-size: em($font-size-small);
      line-height: $line-height-small;
      color: #FFF;
    }
  }
} // end .l-region--navigation .tb-megamenu

@include breakpoint('screen' (max-width 979px)) {
  .tb-megamenu .mega-inner {
    padding: em(10px);
  }
  .tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a {
    margin-left: 0;
  }
  .tb-megamenu .row-fluid + .row-fluid {
    padding-top: 0;
    border-top: 0;
  }
  .tb-megamenu-menu-social-media.tb-megamenu .nav-collapse .nav > li {
    float: left;
  }  
}


@include breakpoint($desk) {
  .tb-megamenu, .tb-megamenu .nav-collapse {
    .btn {
      display: none;
    }
  }
  .l-region--header-preface-right .tb-megamenu {
    margin: 0;
    // margin-right:  $horz-spacing-unit;
  }  

  .l-region--navigation .tb-megamenu {
    .nav-collapse{
      width: 100%;
      background: none;
      box-shadow: none;
      .dropdown-menu {
      background-color: $gray-lighter;
        @include box-shadow(rgba(black, .25) 1px 5px 5px);
      }
      .nav {
        > li {
          max-width: 16%;
          &.wider {
            max-width: 20%;
          }
          > a {
            &,
            .menu-title,
            .mega-caption  {
              white-space: normal;
            }
          }
          > a,
          &.active > a {
            padding: em($vert-spacing-unit/2) em($vert-spacing-unit/2) em($vert-spacing-unit);
          }
        } // end > li
        li {
          &:first-child {
            > a,
            &.active > a {
              padding-top: em($vert-spacing-unit/2);
              padding-left: em($vert-spacing-unit/2);
            }            
          } //end first-child
          > a,
            &.active > a {
              @include link-colors(#fff);
            }          
        } //end li
      }
    }
  }
}

@include breakpoint($wide) {
  .l-region--navigation .tb-megamenu {
    .nav-collapse{
      .nav {
        li {
          > a,
            &.active > a {
              padding-right: em($horz-spacing-unit);
            }  
            &.dropdown.active > .dropdown-toggle,
            &.dropdown.open > .dropdown-toggle,
            &.dropdown.open.active > .dropdown-toggle,
            &.dropdown.open.active > a:focus,
            &.dropdown.open.active > a:hover {
              color: #fff;
            }

        } //end li
      }
    }
  }
}

@include breakpoint('screen' 1780px) {
  .l-region--navigation .tb-megamenu {
    .nav-collapse{
      .nav {
        > li
        > li.wider {
          max-width: auto;
        }
      }
    }
  }
}

