.view {
  .views-exposed-form .views-exposed-widget .form-submit,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    margin-top: 0;
  }

  .views-row {
    h2 {
      margin: em($vert-spacing-unit/2, $font-size-h2) 0;
    }
    h3 {
      margin: em($vert-spacing-unit/2, $font-size-h3) 0;
    }    
  }
  &.view-list {
    .views-row {
      margin-bottom: em($vert-spacing-unit);
    }
  }
  &.view-repository-locations {
    margin-bottom: em($section-spacing);
  }
  &.features-list {
    .item-list ul {
      > li {
        @include clearfix;
        border-bottom: 1px solid $gray-light;
        margin: em($vert-spacing-unit) 0;
        &.views-row-last {
          border-bottom: none;
          margin-bottom: 0;
        }
        .views-field-field-image-single {
          float: left;
          width: 30%;
          padding-right: em($horz-spacing-unit);
          .collection-info {
            float: right;
            width: 70%;
          }
          // .date-display-range {
          //   margin-bottom: em($vert-spacing-unit);
          // }
        }
      }
    }

  }
  &.features-list,
  &.exhibit-list {
    .date-display-day-range {
      font-style: italic;
    }
  }
  .exhibit-thumbnail {
    margin: 0 0 em($vert-spacing-unit/2) 0;
    text-align: center;
  }

  &.exhibit-list {
    .views-row {
      margin-bottom: em($vert-spacing-unit);
      border: 1px solid $gray-light;
      padding: em($vert-spacing-unit/2) 1%;
    }
  }

  .view-filters {
    label,
    .views-widget {
     display: inline-block;
    }
    label {
     padding-right: em($horz-spacing-unit);
    }
    .views-exposed-form .views-exposed-widget {
     float: none;
     display: inline-block;
    }
    margin-bottom: em($vert-spacing-unit*1.5);
  }
  .float-list {
    ul {
      @extend %reset-list;
      li {
        margin-bottom: em($vert-spacing-unit*1.5);
      }
    }
    @extend %clearfix;
  }
  @include breakpoint($tab) {
    .thumbnail {
      margin: 0 em($vert-spacing-unit/2) 0 0;
      min-width: 25%;
      text-align: left;
      .front & {
        margin: 0 em($horz-spacing-unit) 0 0;
      }
    }
    .info-wrapper {
      @include display-flex;
      .info {
        @include flex(1);
      }
    }

    .box-container {
      @include display-flex;
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include align-content(flex-start);
      .box {
        @include flex(1);
      }
      &.box-two,
      &.box-three {
        .box {
          @include flex(1 1 50%);
        }
      }
    }
    &.exhibit-list .box-container.box-two {
      .box {
        margin-right: 2%;
        @include flex(1 1 46%);
      }
    }
    .float-list {
      > ul > li {
        float: left;
        img {
          width: 100% !important;
        }
      }
      .float-two,
      .float-three,
      .float-four,
      .float-five {
        > li {
          width: percentage(1/2);
          &.views-row-odd {
            padding-right: gutter()/2;
          }
          &.views-row-even {
            padding-left: gutter()/2;
          }
          &:nth-child(2n+3) {
            clear: left;
          }
        }
      }
    }
  } // end breakpoint($tab)

  @include breakpoint($desk) {
    .float-list {
      .float-three,
      .float-four,
      .float-five {
        > li {
          width: percentage(1/3);
          &:nth-child(2n) {
            padding-right: gutter();
          }
          &:nth-child(2n+3) {
            clear: none;
          }
          &:nth-child(3n) {
            padding-right: 0;
          }
          &:nth-child(3n+4) {
            clear: left;
          }
        }
      }
    }
    .box-container {
      &.box-three {
        .box {
          @include flex(1 1 33%);
        }
      }
    }
  } //end breakpoint($desk)

  @include breakpoint($wide) {
    .float-list {
    .float-four,
    .float-five {
      >li {
        &:nth-child(3n) {
          padding-right: gutter();
        }
        &:nth-child(3n+4) {
          clear: none;
        }
      }
    }
    .float-four {
      > li {
        width: percentage(1/4);
        &:nth-child(4n) {
          padding-right: 0;
        }
        &:nth-child(4n+5) {
          clear: left;
        }
      }
    }
    .float-five {
      > li {
        width: percentage(1/5);
        &:nth-child(5n){
          padding-right: 0;
        }
        &:nth-child(5n+6) {
          clear: left;
        }
      }
    }
    } //end float-list
  } //end breakpoint($wide)


 .item-list {
  > ul {
   @extend %reset-list;
  }
 }
}

.pane-survey-records-panel-pane-2 {
  margin-top: em($section-spacing);
}