$pale-blue      : #92cfe8;
$light-blue     : #91bce3;
$blue           : #1668b3;
$dark-blue      : #12395c;
$darker-blue    : darken($dark-blue, 25%);

$orange         : #e4621c;
$pale-orange    : #efa47b;
$salmon         : #f5865f;

$green          : #47ba69; // overlay is 85%, lighten by 20%
$blue-green     : #0d6b76;


$red            : #eb3717;

$purple         : #a32a57;

$base-gray       : #000000;
$lighter-gray    : lighten($base-gray, 94%);
$light-gray      : lighten($base-gray, 79%);
$gray            : lighten($base-gray, 61%);
$dark-gray       : lighten($base-gray, 35%);
$darker-gray     : lighten($base-gray, 17%);


