$pale-blue      : #90bbe2;
$light-blue     : #92cfe8;
$mid-blue       : #1668b3;
$dark-blue      : #12395c;

$orange         : #e4621c;
$pale-orange    : #efa47b;
$salmon         : #f5865f;

$green          : #47ba69; // overlay is 85%, lighten by 20%


$red            : #eb3717;

$purple         : #a32a57;

$light-grey     : #efefef;
$mid-grey       : #c9c9c9;
$dark-mid-grey  : #9c9b9b;
$dark-grey      : #595959;
$darker-grey    : #2c2c2c;

