$pale-blue      : #92cfe8;
$light-blue     : #91bce3;
$blue           : #1668b3;
$mid-blue       : #134979;
$dark-blue      : #12395c;

$orange         : #e4621c;
$pale-orange    : #efa47b;
$salmon         : #f5865f;

$green          : #47ba69; // overlay is 85%, lighten by 20%
$blue-green     : #0d6b76;


$red            : #eb3717;

$purple         : #a32a57;

$lighter-grey   : #ededed;
$light-grey     : #efefef;
$mid-grey       : #c9c9c9;
$grey           : #9c9b9b;
$dark-grey      : #515151;
$darker-grey    : #2c2c2c;
