// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 1em;
$horz-spacing-unit: 1.618em;

// Breakpoint settings
$tab: 600px;
$desk: 980px;

// space between columns
$gutter     : 1/3;
