button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
 @include button;
 @include button_style(white, $blue, false, false, #104E86);
 @include button_size(10px, 25px, $font-size-small, floor(($line-height-base * .75)/$font-size-small));
 text-transform: uppercase;
 border:0;
 margin: em($vert-spacing-unit) em($horz-spacing-unit) 0 0;
  max-width: 100%;
}

.container-inline {
 input[type="button"],
 input[type="reset"],
 input[type="submit"]  {
  margin-top: 0;
 }
}

.form-text {
  max-width: 100%;
}

input[type="text"] {
 background: white;
 border: 1px solid $gray-lighter;
 padding: em($vert-spacing-unit/6) em($horz-spacing-unit/2);
}

fieldset.webform-component-fieldset {
 border: none;
 margin: 0;
 padding: 0;
}