table {
 border: #C9C9C9;
 }
th {
 background-color: #E8F1F8;
 color: $blue;
 font-weight: bold;
 vertical-align: top;
 padding: em(10px);
 }
/*MICHELLE EDITS: Table styling*/
td {
 padding: em(10px);
 vertical-align: top;
}
