/**
 * $FONT-FACE
 */
@include font-face(
  'Scala',
  (
    'eot': 'Scala/2D778A_4_0.eot',
    'woff': 'Scala/2D778A_4_0.woff',
    'woff2': 'Scala/2D778A_4_0.woff2',
    'ttf': 'Scala/2D778A_4_0.ttf'
  ));
@include font-face(
  'Scala',
  (
    'eot': 'Scala/2D778A_3_0.eot',
    'woff': 'Scala/2D778A_3_0.woff',
    'woff2': 'Scala/2D778A_3_0.woff2',
    'ttf': 'Scala/2D778A_3_0.ttf'
  ),
  normal,
  italic);
@include font-face(
  'Scala',
  (
    'eot': 'Scala/2D778A_5_0.eot',
    'woff': 'Scala/2D778A_5_0.woff',
    'woff2': 'Scala/2D778A_5_0.woff2',
    'ttf': 'Scala/2D778A_5_0.ttf'
  ),
  bold);
@include font-face(
  'Scala',
  (
    'eot': 'Scala/2D778A_0_0.eot',
    'woff': 'Scala/2D778A_0_0.woff',
    'woff2': 'Scala/2D778A_0_0.woff2',
    'ttf': 'Scala/2D778A_0_0.ttf'
  ),
  bold,
  italic);
@include font-face(
  'Scala Condensed',
  (
    'eot': 'Scala/2D778A_2_0.eot',
    'woff': 'Scala/2D778A_2_0.woff',
    'woff2': 'Scala/2D778A_2_0.woff2',
    'ttf': 'Scala/2D778A_2_0.ttf'
  ));
@include font-face(
  'Scala Condensed',
  (
    'eot': 'Scala/2D778A_1_0.eot',
    'woff': 'Scala/2D778A_1_0.woff',
    'woff2': 'Scala/2D778A_1_0.woff2',
    'ttf': 'Scala/2D778A_1_0.ttf'
  ),
  bold);
@include font-face(
  'GT Walsheim',
  (
    'eot': 'GT-Walsheim/GT-Walsheim-Regular.eot',
    'woff': 'GT-Walsheim/GT-Walsheim-Regular.woff',
    'ttf': 'GT-Walsheim/GT-Walsheim-Regular.ttf',
    'svg': 'GT-Walsheim/GT-Walsheim-Regular.svg'
  ));
@include font-face(
  'GT Walsheim',
  (
    'eot': 'GT-Walsheim/GT-Walsheim-Regular-Oblique.eot',
    'woff': 'GT-Walsheim/GT-Walsheim-Regular-Oblique.woff',
    'ttf': 'GT-Walsheim/GT-Walsheim-Regular-Oblique.ttf',
    'svg': 'GT-Walsheim/GT-Walsheim-Regular-Oblique.svg'
  ),
  normal,
  italic);
@include font-face(
  'GT Walsheim',
  (
    'eot': 'GT-Walsheim/GT-Walsheim-Bold.eot',
    'woff': 'GT-Walsheim/GT-Walsheim-Bold.woff',
    'ttf': 'GT-Walsheim/GT-Walsheim-Bold.ttf',
    'svg': 'GT-Walsheim/GT-Walsheim-Bold.svg'
  ),
  bold);
@include font-face(
  'GT Walsheim',
  (
    'eot': 'GT-Walsheim/GT-Walsheim-Bold-Oblique.eot',
    'woff': 'GT-Walsheim/GT-Walsheim-Bold-Oblique.woff',
    'ttf': 'GT-Walsheim/GT-Walsheim-Bold-Oblique.ttf',
    'svg': 'GT-Walsheim/GT-Walsheim-Bold-Oblique.svg'
  ),
  bold,
  italic);
@include font-face(
  'GT Walsheim',
  (
    'eot': 'GT-Walsheim/GT-Walsheim-Medium.eot',
    'woff': 'GT-Walsheim/GT-Walsheim-Medium.woff',
    'ttf': 'GT-Walsheim/GT-Walsheim-Medium.ttf',
    'svg': 'GT-Walsheim/GT-Walsheim-Medium.svg'
  ),
  600);
@include font-face(
  'GT Walsheim',
  (
    'eot': 'GT-Walsheim/GT-Walsheim-Medium-Oblique.eot',
    'woff': 'GT-Walsheim/GT-Walsheim-Medium-Oblique.woff',
    'ttf': 'GT-Walsheim/GT-Walsheim-Medium-Oblique.ttf',
    'svg': 'GT-Walsheim/GT-Walsheim-Medium-Oblique.svg'
  ),
  600,
  italic);

/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-size: 62.5%
}

body {
  font-family: $gt-walsheim;
  color: $dark-gray;
  @include rem(font-size, 16px);
  line-height: 1.625;
}

/**
 * $LINKS
 */
a {
  //       link-colors($normal, $hover, $active, $visited, $focus)
  @include link-colors($blue, $dark-blue, $blue, $blue, $blue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#{headings()} {
  font-family: $gt-walsheim;
  @include rem(margin, 0 0 $baseLineHeight);
  color: $blue;
  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: $dark-blue;
  }
}

h1 {
  @include rem(font-size,$font-size-h1);
  line-height: ($baseLineHeight * 2)/$font-size-h1;
}

h2 {
  @include rem(font-size,$font-size-h2);
  line-height: ($baseLineHeight * 1.5)/$font-size-h2;
}

h3 {
  @include rem(font-size,$font-size-h3);
  line-height: ($baseLineHeight * 1.25)/$font-size-h3;
}

h4 {
  @include rem(font-size,$font-size-h4);
  line-height: $baseLineHeight/$font-size-h4;
}

h5 {
  @include rem(font-size,$font-size-h5);
}

p {
  @include rem(margin, 0 0 $baseLineHeight);
 // &:last-child {margin-bottom: 0;}
}

ul {
  @include rem(margin, 0 0 $baseLineHeight);
  li {
  @include rem(margin, $baseLineHeight/2);
  }
}
