/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-size: 100%
}

body {
  font-family: $font-primary;
  color: $gray-dark;
  font-size: em($font-size-base, 16px);
  line-height: $baseLineHeight;
}

/**
 * $LINKS
 */
a {
  //       link-color-defaults($normal, $hover, $active, $visited, $focus)
  @include link-colors($link-color-default, $link-color-hover, $link-color-hover, $link-color-default, $link-color-default);
  text-decoration: none;
  &.active {
    color: $blue;
  }
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}


#{headings()} {
  font-family: $font-primary;
  color: $blue;
  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  /* a:hover {
    color: $blue-darker;
  } */
}

h1 {
  font-size: em($font-size-h1);
  line-height: $line-height-h1;
  margin: 0 0 em($line-height-base, $font-size-h1);
}

h2 {
  font-size: em($font-size-h2);
  line-height:  $line-height-h2;
  // @include rem(margin-top, $line-height-base*2);
  // &:first-child {
  //   margin-top: 0;
  // }
  margin: 0 0 em($line-height-base, $font-size-h2);
  &.section-title {
    margin-top: em($line-height-base*2, $font-size-h2);
  }
}

h3 {
  font-size: em($font-size-h3);
  line-height:  $line-height-h3;
  margin: 0 0 em($line-height-base, $font-size-h3);
}

h4 {
  font-size: em($font-size-h4);
  line-height:  $line-height-h4;
  margin: 0 0 em($line-height-base/2, $font-size-h4);
  font-weight: bold;
 // text-transform: uppercase;
}

h5 {
  font-size: em($font-size-h5);
  line-height:  $line-height-h5;
  font-weight: bold;
  margin: 0 0 em($line-height-base/2, $font-size-h5);
}

p {
  margin: 0 0 em($line-height-base);
 // &:last-child {margin-bottom: 0;}
}


