@mixin btn_style($background: $blue) {
  color: white;
  @include box-shadow(rgba(white, 0.1) 0 1px 0 inset, rgba(white, .075) 0 1px 0);
  @include text-shadow(rgba(black, .25) 0 -1px 0);
  border: 1px solid #bbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
  padding: $horz-spacing-unit*.5 $horz-spacing-unit;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .8px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 0;
  @include rem(font-size, 12px);
  line-height: 18px;
  *line-height: 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0;
  background-color: $background;
  @include background-image(linear-gradient(lighten($background, 5%), $background));  // top, bottom color
}
