// float a list left
%navigation-list {
    list-style-type:none;
    padding:0;
    margin:0;
    overflow:hidden;
    > li{
        display:block;
        list-style-type: none;
        float:left;
        &:last-child{
           margin-right:0px;
        }
    }
}

%reset-list {
    list-style-type:none;
    padding:0;
    margin:0;
    > li{
        display:block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        list-style-image: none;
    }
}
